<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Encuentra tu #hash</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="/js/controllers/generalController.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
    <body ng-app="twitterApp">
    <h1>Todo acerca de tu #hastag:</h1>
        <div ng-controller="GeneralController as controller">
            <div>
                <form ng-submit="controller.getList()">
                    <input class="my-text" type="text" ng-model="controller.text"  size="30"
                           placeholder="escribe lo que quieras buscar...">
                    <input class="primary-btn" type="submit" value="Buscar por etiqueta">
                </form>
            </div>
            <div class="container">
                <tweet ng-repeat="tweet in controller.list" data="tweet"></tweet>
                <div ng-if="controller.list.length === 0">
                    <strong>No tienes resultados aun :(</strong>
                </div>
            </div>
        </div>
    </body>
</html>