<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Encuentra tu #hash</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="/js/controllers/generalController.js"></script>
</head>
    <body ng-app="twitterApp">
    <h1>Todo acerca de tu #hastag:</h1>
        <div ng-controller="GeneralController as controller">
            <form ng-submit="controller.getList()">
                <input type="text" ng-model="controller.text"  size="30"
                       placeholder="escribe lo que quieras buscar...">
                <input  type="submit" value="Buscar por etiqueta">
            </form>
            <ul>
                <tweet ng-repeat="tweet in controller.list" data="tweet"></tweet>
                <li ng-if="controller.list.length === 0">
                    <strong>No tienes resultados aun :(</strong>
                </li>
            </ul>
        </div>
    </body>
</html>